/* star universal operator */
* ,
*::before ,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* css root variable */
:root {
    --red: #DF2029;
    --soft-white: #f1f1f1;
    --poppins: font-family: 'Poppins', sans-serif;
    --background: linear-gradient(180deg , #2980B9 , #2C3E50);
}
/* body and html setup */
html { font-size: 62.5%; }
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background: var(--background);
}
/* app head */
.head {
    font-size: 3rem;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    margin: 4rem auto 3.5rem auto;
}
/* form-action section */
.form-action {
    width: 24rem;
    margin: 1rem auto;
}
.text-area {
    width: 19rem;
    height: 4rem;
    padding: 0.4rem;
    word-spacing: 3px;
    border: none;
    background: var(--soft-white);
    font-size: 1.4rem;
    font-weight: bold;
}
.text-area:focus {
    outline: 0;
}
.button {
    width: 5rem;
    height: 4rem;
    float: right;
    background: var(--soft-white);
    border: none;
    display: grid;
    place-items: center;
}
.button:focus {
    outline: 0;
}
.button .plus:active {
    opacity: .4;
}
.button .plus {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}
/* todo-container for input display */
.todo-container {
    width: 100%;
    margin-top: auto;
    overflow-y: scroll;
    height: 60vh;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* child todo-container */
.todo-container .child-todo-container {
    width: 28rem;
    margin: 1rem auto;
    height: auto;
    min-height: 4.5rem;
    padding: 0.4rem;
    word-spacing: 3px;
    background: var(--soft-white);
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: 0.5s linear ease;
}
.grandchild-todo-container {
    width: 25rem;
    height: auto;
    display: flex;
    flex-direction: column;
}
/* trash button */
.child-todo-container .trash {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.5rem;
    pointer-events: none;
}
.child-todo-container .trashBtn {
    height: 4.5rem;
    width: 4.5rem;
    border: none;
    background: var(--red);
}
.child-todo-container .trashBtn:focus {
    outline: 0;
}
.child-todo-container .trash:active {
    opacity: .4;
}
/* complete button */
.child-todo-container .complete {
    width: 4.2rem;
    height: 4.2rem;
    padding: 0.5rem;
    pointer-events: none;
}
.child-todo-container .completeBtn {
    height: 4.5rem;
    width: 4.5rem;
    border: none;
    background: green;
}
.sucess {
    text-decoration: line-through;
    opacity: .5;
}
.child-todo-container .completeBtn:focus {
    outline: 0;
}
.child-todo-container .complete:active {
    opacity: .4;
}

