<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <!-- local css file path -->
        <link rel="stylesheet" href="/Css/style.css" />
        <!-- page title and favicon -->
        <title>TOD0</title>
    </head>
    <body>
        <h1>Hello World!</h1>
        <!-- form for data management firebase realtime database -->
        <form class="form-action" action="" method="get" accept-charset="utf-8">
            <input type="text" class="text-area" name="text" id="text" />
            <button type="submit" class="button">Submit</button>
        </form>
        <!-- data update section from data management form -->
        <div class="todo-container"></div>
        
        <!-- local javascript file path -->
        <script src="/Js/main.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>